<table class="table table-bordered table-striped problems">
  <tr>
    <th style="width: 30%"><%= Problem.human_attribute_name(:title) %></th>
    <th><%= Problem.human_attribute_name(:description) %></th>
    <th style="white-space:nowrap;"><%= Problem.human_attribute_name(:accuracy) %></th>
    <th style="width: 40px"></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.title, problem %></td>
    <td><%= problem.description[0..50] %></td>
    <td><%= decorate_accuracy(problem.accuracy).html_safe %></td>
    <td><% if current_user.try(:solved?, problem)%>
          <% if problem.myanswer(current_user).correct? %>
            <i class="icon-ok"></i>
          <% else %>
            <i class="icon-remove"></i>
          <% end %>
        <% else %>
          <%= link_to '解く', problem %>
        <% end %>
    </td>
  </tr>
<% end %>
</table>
