<h1>問題一覧</h1>

<p>
  <%= link_to '問題作成', '/problems/new', class: 'btn' if current_user %>
</p>

<%= will_paginate @problems, class: "pagination pagination-centered" %>

<table class="table table-bordered table-striped">
  <tr>
    <th style="width: 30%">Title</th>
    <th>Description</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= link_to problem.title, problem %></td>
    <td><%= problem.description[0..50] %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @problems, class: "pagination pagination-centered" %>
