<h1>問題一覧</h1>

<%= will_paginate @problems, class: "pagination pagination-centered" %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem.title %></td>
    <td><%= problem.description[0..50] %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @problems, class: "pagination pagination-centered" %>
