<p>
  <b>Title:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<p>
  <b>Correct:</b>
  <%= @problem.correct %>
</p>

<p>
  <b>Wrong1:</b>
  <%= @problem.wrong1 %>
</p>

<p>
  <b>Wrong2:</b>
  <%= @problem.wrong2 %>
</p>

<p>
  <b>Wrong3:</b>
  <%= @problem.wrong3 %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
