<%- model_class = @problem.class -%>
<h1><%= @problem.title %></h1>

<p>by. <%= link_to @problem.creator %></p>

<p><%= @problem.solvers.count %> 人が解きました。</p>

<p>
  <%= @problem.description %>
</p>

<% if @problem.solvers.include? current_user %>
<% else %>
  <%= form_tag(action: 'answer') do %>
    <% @problem.random_choices.each do |c| %>
      <label for="radio inline"><%= radio_button_tag 'choice', c, false, class: 'choice' %><%= c %></label>
    <% end %>
    <br />
    <%= submit_tag "回答", class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              problems_path, :class => 'btn'  %>
</div>
